# gitignore for decanOpy

# Outfiles
*.out
DecanLists/testdata*
SynRSC/synRSC_*.xlsx

# Actually just all output for now
*.xlsx
*.txt
*.csv

# Mac DS files
.DS_Store

# Private folders
/DevTests
/Notes

# Python extras
.ipynb_checkpoints*
__pychache__
*.pyc
