# gitignore for decanOpy

# Outfiles
*.out
DecanLists/testdata*
SynRSC/synRSC_*.xlsx

# Actually just all output for now
*.xlsx
*.txt
*.csv
*.checkpoint

# Mac DS files
.DS_Store

# VSC filees 
*.vscode

# testing files and folders
/dev
*code_graveyard.py

# Python extras
.ipynb_checkpoints*
__pychache__
*.pyc


# Distribution / packaging
# from https://github.com/github/gitignore/blob/main/Python.gitignore
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

