ads==0.12.3
aiofiles==23.2.1
aioftp==0.21.4
aiohttp==3.8.3
aiosignal==1.3.1
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.3
anyio==3.5.0
appdirs==1.4.4
appnope==0.1.0
appscript==1.0.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asn1crypto==1.0.1
astroid==2.3.1
astropy==4.3.1
astroquery==0.4.6
async-timeout==4.0.3
asynctest==0.13.0
atomicwrites==1.3.0
attrs==21.4.0
Babel==2.7.0
backcall==0.1.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.8.0
bitarray==1.0.1
bkcharts==0.2
bleach==3.1.0
bokeh==1.3.4
boto==2.49.0
Bottleneck==1.2.1
cached-property==1.5.2
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
charset-normalizer==2.0.4
click==7.1.2
cloudpickle==1.2.2
clyent==1.2.2
colorama==0.4.1
conda==22.9.0
conda-build==3.21.9
conda-package-handling==1.9.0
conda-verify==3.1.1
contextlib2==0.6.0
corner==2.2.1
cryptography==2.7
cycler==0.10.0
Cython==0.29.13
cytoolz==0.10.0
dask==2.5.2
decorator==4.4.0
defusedxml==0.6.0
deprecation==2.1.0
dill==0.3.5.1
distributed==2.5.2
docutils==0.15.2
drms==0.6.3
emcee==3.1.2
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
feedparser==6.0.10
ffmpeg==1.4
filelock==3.0.12
Flask==1.1.1
frozenlist==1.3.1
fsspec==0.5.2
future==0.18.2
gevent==1.4.0
gitdb==4.0.9
GitPython==3.1.26
glob2==0.7
Glymur==0.13.2.post1
gmpy2==2.0.8
greenlet==0.4.15
h5py==2.9.0
HeapDict==1.0.1
html5lib==1.0.1
httpretty==0.8.10
idna==2.8
imageio==2.6.0
imageio-ffmpeg==0.4.1
imagesize==1.1.0
importlib-metadata==4.10.1
importlib-resources==5.1.3
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.15.1
Jinja2==2.10.3
joblib==0.13.2
jsonschema==3.0.2
jupyter-client==7.4.9
jupyter-core==4.12.0
jupyter-sphinx==0.3.2
jupytext==1.11.5
Keras==0.3.0
keyring==18.0.0
kiwisolver==1.1.0
lab==7.0
latexcodec==2.0.1
lazy-object-proxy==1.4.2
libarchive-c==2.8
lief==0.9.0
linkify-it-py==1.0.3
llvmlite==0.29.0
locket==0.2.0
lxml==4.4.1
markdown-it-py==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mdit-py-plugins==0.3.0
mistune==0.8.4
mkl-fft==1.0.14
mkl-random==1.1.0
mkl-service==2.3.0
mock==3.0.5
more-itertools==7.2.0
moviepy==1.0.2
mpmath==1.1.0
msgpack==0.6.1
multidict==6.0.2
multipledispatch==0.6.0
navigator-updater==0.2.1
nbclient==0.5.10
nbconvert==5.6.0
nbformat==5.1.3
nbsphinx==0.8.9
nest-asyncio==1.5.4
networkx==2.3
nltk==3.4.5
nose==1.3.7
notebook==6.0.1
numba==0.45.1
numexpr==2.7.0
numpy==1.18.4
numpydoc==0.9.1
olefile==0.46
openpyxl==3.0.0
packaging==19.2
pandas==0.25.1
pandocfilters==1.4.2
parfive==2.0.2
parso==0.5.1
partd==1.0.0
path.py==12.0.1
pathlib2==2.3.5
patsy==0.5.1
pep8==1.7.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.0
pip-autoremove==0.10.0
pkginfo==1.5.0.1
pluggy==0.13.0
ply==3.11
proglog==0.1.9
prometheus-client==0.7.1
prompt-toolkit==2.0.10
psutil==5.6.3
ptemcee==1.0.0
ptyprocess==0.6.0
py==1.8.0
pybtex==0.24.0
pybtex-docutils==1.0.1
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.3
pydata-sphinx-theme==0.7.2
pyerfa==2.0.0.1
pyFFTW==0.12.0
pyflakes==2.1.1
pygame==1.9.6
Pygments==2.4.2
pylint==2.4.2
pyodbc==4.0.27
pyOpenSSL==19.0.0
pyparsing==2.4.2
pyrsistent==0.15.4
PySocks==1.7.1
pytest==5.2.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.4.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
python-dateutil==2.8.2
pytz==2019.3
pyvo==1.2.1
PyWavelets==1.0.3
PyYAML==5.1.2
pyzmq==25.0.0
QtAwesome==0.6.0
qtconsole==4.5.5
QtPy==1.9.0
radvel==1.4.9
rebound==3.19.3
requests==2.22.0
requests-toolbelt==1.0.0
rope==0.14.0
ruamel-yaml==0.15.46
scikit-image==0.15.0
scikit-learn==0.21.3
scipy==1.3.1
-e git+https://github.com/lunazagor/scivibes.git@7876923cebcac426433d639c7d62a2626c74862f#egg=SciVibes
seaborn==0.9.0
Send2Trash==1.5.0
sgmllib3k==1.0.0
simplegeneric==0.8.1
simplejson==3.17.6
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
slackweb==1.0.5
smmap==5.0.0
sniffio==1.2.0
snowballstemmer==2.0.0
socialsent==0.1.2
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.9.3
Sphinx==4.4.0
sphinx-book-theme==0.1.10
sphinx-comments==0.0.3
sphinx-copybutton==0.4.0
sphinx-external-toc==0.2.3
sphinx-multitoc-numbering==0.1.3
sphinx-panels==0.6.0
sphinx-thebe==0.0.10
sphinx-togglebutton==0.2.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-bibtex==2.2.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.1.2
spyder==3.3.6
spyder-kernels==0.5.2
SQLAlchemy==1.4.31
statsmodels==0.10.1
sunpy==1.1.0
sympy==1.4
tables==3.5.2
tblib==1.4.0
terminado==0.8.2
testpath==0.4.2
Theano==1.0.5
toml==0.10.2
toolz==0.10.0
tornado==6.2
tqdm==4.36.1
traitlets==5.3.0
txt2tags==3.7
typing-extensions==4.5.0
uc-micro-py==1.0.1
unicodecsv==0.14.1
UNKNOWN==0.0.0
unyt==2.8.0
urllib3==1.24.2
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==1.2.3
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.11.2
wurlitzer==1.0.3
xlrd==1.2.0
XlsxWriter==1.2.1
xlwings==0.15.10
xlwt==1.3.0
yarl==1.7.2
zeep==3.4.0
zict==1.0.0
zipp==0.6.0
